'use strict';

global.DEFAULT_TEMP_LOCATION = '/var/www/';
global.DEFAULT_HTTP_LOCATION = 'http://spec-server/';
global.DEFAULT_LOG_LOCATION = '.';
global.DEFAULT_RESULT_LOCATION = '/var/www/';
global.DEFAULT_PORT = 3000;
global.RESOURCES_WHITELIST = './whitelist.txt';
global.TOKEN_ENDPOINT = 'http://localhost:3001/authorize';
global.SPEC_GENERATOR = 'http://localhost:3002/';
global.USERNAME = '';
global.PASSWORD = '';
global.W3C_PUBSYSTEM_URL = 'http://localhost:3001/publish';
global.TR_INSTALL_CMD = 'mkdir -p $dest && cp -R $source $dest';
global.UPDATE_TR_SHORTLINK_CMD = '#';
global.SENDMAIL = './sendmail.sh';
global.MAILING_LIST = 'foobar@w3.org';
global.ALLOWED_CLIENTS = [
  // Same host (for tests):
  /https?:\/\/localhost(:\d{1,4})?/i,
  // W3C:
  /https?:\/\/(www\.)?w3c?\.org/i,
  // GitHub:
  /https?:\/\/w3c\.github\.io/i
];
