
<!doctype html>
<html lang="en" class="no-js">

  <head>
    <title>W3C Echidna</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Orchestrator of W3C's new publication system">

    <meta property="og:image" name="image" content="https://www.w3.org/assets/website-2021/images/w3c-opengraph-image.png">


    <script src="https://www.w3.org/assets/website-2021/js/libraries/fontfaceobserver.js"></script>

    <script>
    let myFont = new FontFaceObserver('Noto Sans');

    Promise.all([myFont.load()]).then(function () {
      document.documentElement.className += " fonts-loaded";
    });

    var jsAssetsPath = "/assets/";
    </script>

    <link rel="stylesheet" href="https://www.w3.org/assets/website-2021/styles/core.css?ver=1.4" media="screen"/>

    <!--
CSS Mustard Cut
Print (Edge doesn't apply to print otherwise)
Edge, Chrome 39+, Opera 26+, Safari 9+, iOS 9+, Android ~5+, Android UCBrowser ~11.8+
FF 47+
-->
    <link rel="stylesheet" id="advanced-stylesheet" href="https://www.w3.org/assets/website-2021/styles/advanced.css?ver=1.4.3" media="
      only print,
      only all and (pointer: fine), only all and (pointer: coarse), only all and (pointer: none),
      only all and (min--moz-device-pixel-ratio:0) and (display-mode:browser), (min--moz-device-pixel-ratio:0) and (display-mode:fullscreen)
      ">

    <link rel="stylesheet" href="https://www.w3.org/assets/website-2021/styles/print.css" media="print"/>

    <script>
    (function() {
      let linkEl = document.getElementById('advanced-stylesheet');
      if (window.matchMedia && window.matchMedia(linkEl.media).matches) {
        let head = document.querySelector('head');
        // Add main JS
        let jsMain = document.createElement('script');
        jsMain.src = 'https://www.w3.org/assets/website-2021/js/main.js?ver=1.4';
        jsMain.defer = true;
        head.appendChild(jsMain);
        // Update classname to show JS is available
        (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement);
      }
    })();
    </script>

  </head>


  <body>
    <a class="skip-link" href="#main">Skip to content</a>
    <div class="grid-wrap">
      <div class="wrap">
        <header class="global-header">
          <span role="status" aria-live="polite"></span>

          <nav id="global-nav" aria-label="Main">
            <div class="global-nav__inner l-center js-nav-with-intro">
              <a class="logo-link" href="https://www.w3.org/" hreflang="en">
                <span class="logo">
                  <img src="https://www.w3.org/assets/logos/w3c-2025/svg/w3c.svg" alt="W3C" role="img">
                </span>
                <span class="visuallyhidden">Visit the W3C homepage</span>
              </a>
            </div>
          </nav>
        </header>

        <main id="main" data-anchor="no">
          <h1>W3C Echidna</h2>

          <p>This is the endpoint of the <abbr title="World Wide Web Consortium">W3C</abbr>'s new automated publication system (<em>beta</em>).
            <br>Please refer to the following resources for more information:</p>

          <ul class="bullet">
            <li>For an overview, help to start using the system, and <abbr title="Frequently Asked Questions">FAQ</abbr>, see
              <a href="https://github.com/w3c/echidna/wiki">the wiki of the project on GitHub</a>.</li>
            <li>Public mailing list (comments, ideas, bug reporting):
              <a href="https://lists.w3.org/Archives/Public/#public-pubrules-comments"><code>public-pubrules-comments@w3.org</code></a>.</li>
            <li><abbr title="Internet Relay Chat">IRC</abbr>: channel <a href="irc://irc.w3.org:6667/pub"><code>#pub</code></a> on
              <a href="http://www.w3.org/wiki/IRC"><abbr title="World Wide Web Consortium">W3C</abbr>'s public server</a>.</li>
          </ul>

          <h2>Changelog</h2>

          <p>What's new since the previous public release of the tools:</p>

          <h3 id="header-echidna" class="left">Echidna</h3>
          <p class="links"><a href="https://github.com/w3c/echidna">GitHub</a></p>

          <h3 id="header-specberus" class="left">Specberus</h3>
          <p class="links"><a href="https://github.com/w3c/specberus">GitHub</a> &#8226;
            <a href="https://www.w3.org/pubrules/">live site</a></p>
        </main>
      </div>
      <footer class="global-footer">
        <div class="l-center">
          <div class="global-footer__links">
            <div class="l-cluster">
              <ul class="clean-list" role="list">
                <li>
                  <a href="https://www.w3.org/" hreflang="en">
                    <span lang="en" dir="ltr">Home</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.w3.org/contact/" hreflang="en">
                    <span lang="en" dir="ltr">Contact</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.w3.org/help/" hreflang="en">
                    <span lang="en" dir="ltr">Help</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.w3.org/donate/" hreflang="en">
                    <span lang="en" dir="ltr">Donate</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.w3.org/policies/" hreflang="en">
                    <span lang="en" dir="ltr">Legal &amp; Policies</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.w3.org/about/corporation/" hreflang="en">
                    <span lang="en" dir="ltr">Corporation</span>
                  </a>
                </li>
                <li>
                  <a href="https://status.w3.org/" hreflang="en">
                    <span lang="en" dir="ltr">System Status</span>
                  </a>
                </li>
              </ul>
            </div>
            <ul class="clean-list" role="list">
              <li><a class="with-icon--larger" href="https://w3c.social/@w3c" hreflang="en">
                <img class="icon icon--larger" src="https://www.w3.org/assets/website-2021/svg/mastodon.svg" width="20" height="20" alt="" aria-hidden="true" loading="lazy">
                <span class="visuallyhidden"><span lang="en" dir="ltr">W3C on Mastodon</span></span></a>
              </li>
              <li><a class="with-icon--larger" href="https://github.com/w3c/" hreflang="en">
                <img class="icon icon--larger" src="https://www.w3.org/assets/website-2021/svg/github.svg" width="20" height="20" alt="" aria-hidden="true" loading="lazy">
                <span class="visuallyhidden"><span lang="en" dir="ltr">W3C on GitHub</span></span></a>
              </li>
            </ul>
          </div>
          <p class="copyright"><span lang="en" dir="ltr">Copyright © 2025 <a href="https://www.w3.org/">World Wide Web Consortium</a>.<br> <abbr title="World Wide Web Consortium">W3C</abbr><sup>®</sup> <a href="https://www.w3.org/policies/#disclaimers">liability</a>, <a href="https://www.w3.org/policies/#trademarks">trademark</a> and <a rel="license" href="https://www.w3.org/copyright/document-license/" title="W3C Document License">permissive license</a> rules apply.</span></p>
        </div>
      </footer>
    </div>

    <script>
      (async function() {
        const response = await fetch('api/version');
        const data = await response.text();
        document.querySelector('h3#header-echidna').innerHTML += ` <a href="https://github.com/w3c/echidna/releases/tag/v${data}">${data}</a>`;

        const responseSpecberus = await fetch('api/version-specberus');
        const dataSpecberus = await responseSpecberus.text();
        document.querySelector('h3#header-specberus').innerHTML += ` <a href="https://github.com/w3c/specberus/releases/tag/v${dataSpecberus}">${dataSpecberus}</a>`;

      })();
    </script>
  </body>
</html>
