<!DOCTYPE html>

<html lang="en-GB">

  <head>
    <meta charset="utf-8">
    <meta name="application-name" content="Echidna">
    <meta name="description" content="W3C's orchestrator for the new publication workflow">
    <meta name="keywords" content="w3c,publication,workflow">
    <meta name="author" content="W3C">
    <title>Echidna</title>

    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style type="text/css">

      .navbar-brand {
        padding-top: 5px;
      }

      .navbar img {
        height: 40px;
      }

      sup {
        color: red;
        font-weight: bold;
      }

      input:not([type="submit"]):not([type="checkbox"]) {
        font-family: monospace;
      }

      .info {
        font-size: smaller;
        float: right;
      }

      #infoText {
        display: none;
      }

    </style>

  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://www.w3.org/">
                    <img src="images/w3c_home_nb-v.svg" alt="W3C">
                </a>
            </div>

            <p class="navbar-text">Echidna<sup>early</sup> &ndash; The automated publication system at W3C</p>
        </div>
    </nav>

    <div class="container">

      <section>
        <p class="info">This invokes the method <a href="/api/version"><code>/api/version</code></a>.</p>

        <h2>Basic info</h2>

        <button id="infoButton" type="submit" class="btn btn-default">Retrieve</button>

        <pre id="infoText"></pre>
      </section>

      <hr>

      <section>
        <p class="info">This invokes the method <code>/api/request</code> (<code>POST</code>) with params <code>{url, decision, token}</code>.</p>

        <h2>New publication request</h2>

        <form role="form" id="submitForm" method="POST" action="/api/request" class="form-horizontal">

          <div class="form-group">
            <label for="url" class="col-sm-2 control-label">Document URL</label>
            <div class="col-sm-8">
              <input type="url" class="form-control" id="url" required autofocus
                placeholder="http://example.com/ OR http://jay.w3.org/~plehegar/navigation-timing/W3CTRMANIFEST">
            </div>
            <div class="col-sm-2">
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="isManifest"> This is a manifest
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="decision" class="col-sm-2 control-label">WG decision URL</label>
            <div class="col-sm-5">
              <input type="url" class="form-control" id="decision" required
                placeholder="https://example.com/foo/messages/29372">
            </div>
            <label for="token" class="col-sm-1 control-label">Token</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="token" placeholder="12345678" required>
            </div>
          </div>

          <button id="submitButton" type="submit" class="btn btn-primary">Request publication</button>

        </form>
      </section>

      <hr>

      <section>
        <p class="info">This invokes the method <a href="/api/status"><code>/api/status</code></a> and splits results in two groups.</p>

        <h2>Publication requests</h2>

        <input id="auto" type="checkbox" checked="checked" />

        <label for="auto">Refresh automatically every 2 s</label>
        <br />
        <p id="lastUpdate">Last updated: <span></span></p>

        <button id="queueButton" type="submit" class="btn btn-default" disabled>Refresh now</button>

        <h3>Requests</h3>
        <pre id="queueText"></pre>
      </section>

    </div>

    <script type="text/javascript" src="/scripts/jquery-2.1.1.min.js"></script>

    <script type="text/javascript">

      $(document).ready(function() {

        function getStatus() {
          $.get('/api/status', function(data) {
            console.dir(data);
            $('#queueText').text(JSON.stringify(data.requests, null, 2));
             $('#lastUpdate > span').text(new Date().toLocaleTimeString());
            if ($('#auto').prop('checked')) {
              window.setTimeout(getStatus, 2000);
            }
          });
        }

        $('#infoButton').click(function() {
          $.get('/api/version', function(data) {
            $('#infoButton').hide();
            $('#infoText').text(data).show();
          });
        });

        $('#submitButton').click(function(event) {
          event.preventDefault();
          $.post(
            $('#submitForm').prop('action'),
            {url: $('#url').prop('value'),
             decision: $('#decision').prop('value'),
             token: $('#token').prop('value'),
             decision: $('#decision').prop('value')},
            function(data) {
              window.alert(data);
            }
          );
        });

        $('#auto').click(function() {
          $('#queueButton').prop('disabled', $(this).prop('checked'));
          if ($(this).prop('checked')) {
            getStatus();
          }
        });

        $('#queueButton').click(getStatus);
        getStatus();

      });

    </script>

  </body>

</html>

<!-- EOF -->

