<!DOCTYPE html>

<html lang="en-GB">

    <head>
        <meta charset="utf-8" />
        <meta name="application-name" content="Echidna testbed" />
        <meta name="description" content="W3C's new publication workflow testbed page" />
        <meta name="keywords" content="w3c,publication,workflow,echidna,test" />
        <meta name="author" content="W3C" />
        <title>Echidna testbed</title>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>

    <body>

        <h1>Echidna testbed</h1>

        <h2>Specs</h2>

        <p id="spinner">Loading&hellip;</p>

        <ol id="specList">
        </ol>

        <pre id="console"></pre>

        <script type="text/javascript" src="jquery-2.1.3.min.js"></script>
        <script type="text/javascript" src="behaviour.js"></script>

    </body>

</html>

<!-- EOF -->

