
/**
 * Style for the Echidna testbed.
 * @author Antonio <antonio@w3.org>
 */

body {
    margin :          0 0 128px 0;
    padding:          1em 4ex;
}

ol#specList {
    display:          none;
}

pre#console {
    position:         fixed;
    bottom:           0;
    left:             0;
    right:            0;
    height:           128px;
    margin:           0;
    border-style:     solid;
    border-color:     #c0c0c0;
    border-width:     0.25em 0 0 0;
    padding:          0.5em 2ex;
    word-wrap:        break-word;
    overflow-y:       scroll;
    font-family:      monospace;
    background-color: #f0f0f0;
}

/* EOF */

